<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{fragments/layout :: layout (~{::body} )}">


<body>
    <div class="product_list">
        <th:block th:each="product : ${productList}" >
            <div onClick="clickProduct( this )" th:productId="${product.id}">
                <img th:src="@{'/img/'+${product.id}+'.jpg'}" >
                <span th:utext="${product.name}" ></span>
            </div>
        </th:block>
    </div>
</body>


</body>
</html>