<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{fragments/layout :: layout (~{::body} )}">


<body>
    <div class="product_form">

        <form  action="@{'/edit/item'}" th:action="@{'/edit/item'}" th:object="${product}" method="post"  enctype="multipart/form-data">

            <input  type="hidden" id="productId"   name="productId"   th:value="${product.id}">
            <input  type="text"   id="productSKU"  name="productSKU"  th:value="${product.SKU}">
            <input  type="text"   id="productName" name="productName" th:value="${product.name}">


            <select th:name="productStatus" th:id="productStatus">
                <th:block th:if="${product.status==true}">
                    <option value="1" selected="selected">active</option>
                    <option value="0" >hidden</option>
                </th:block>
                <th:block th:if="${product.status==false}">
                    <option value="1" >active</option>
                    <option value="0" selected="selected">hidden</option>
                </th:block>
            </select>


            <input class="submit" type="submit" value="zapisz" style="margin: 0px; ">
        </form>

    </div>
</body>


</body>
</html>



