<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<!--  CART ROW CartItem(id=1, product_id=3, cart_id=1, quantity=1, pricePerItem=329.0, product_name=Dysk M.2 Crucial 1.0TB, product_SKU=SH0025)
           -->

<!--
<th:block th:insert="~{cart/view :: cartRow ( row ) }"/>
-->

<th:block class="cartrow" th:fragment="cartRow ( row , cartProductList )" xmlns:th="http://www.w3.org/1999/xhtml">
  <td>
    <a th:href="${'/cart/productinfo/'+row.product_id}" Xtarget="_blank">
      <th:block th:insert="~{fragments/form :: image( ${ cartProductList.get( row.product_id ).pictures[0].pict_id } ) }"/>
    </a>
  </td>
  <td th:text="${row.product_SKU}"/>
  <td th:text="${row.product_name}"/>
  <td th:text="${row.pricePerItem}"/>
  <td th:text="${' x'+row.quantity}"/>
  <td th:text="${row.quantity*row.pricePerItem}"/>

  <td>
    <a th:href="@{'/cart/addOne/'+${row.product_id}}"/>[ +1 ]</a>
  </td>
  <td>
    <a th:href="@{'/cart/subOne/'+${row.product_id}}"/>[ -1 ]</a>
  </td>
  <td>
    <a th:href="@{'/cart/clearRow/'+${row.product_id}}"/>[ clear ]</a>
  </td>

  <!--<th:block th:each="product : ${products}" th:insert="~{ fragments/product :: oneBlock ( ${product} ) }" />-->
</th:block>


</html>
