<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body} )}">

<body>
<h2>w koszyku:</h2>
<table class="padding5">
    <p th:text="${cart.status}"></p>
    <p th:text="${cart.id}"></p>
    <p th:text="${cart}"></p>
    <tbody>

    <tr th:each="cart_row: ${cart.items}" th_class="${'status'+product.status}" >
        <th:block th:insert="~{cart/fragment :: cartRow ( ${cart_row} ) }"/>
    </tr>

    </tbody>
</table>


<a class="likeButton" th:href="${'/cart/convert_to_order/_'+cart.id}" > przejdz do dostawy </a>
<a class="likeButton" href="/?" > powrót do zakupów </a>
<a class="likeButton" th:href="${'/cart/clearCart/'+cart.id}" > wyczyść koszyk </a>


</body>
</html>



