<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body} )}">


<body>

<h2>logowanie użytkownika</h2>
<form th:action="@{/user/login}" method="post">
    <div class="form-group">
        <label for="username">adres email:</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="e-mail">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Log in</button>
    </div>
</form>

</body>
</html>