
* { line-height: 1.5em;
    text-decoration: none;
    margin: 0px; padding: 0px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  }

body { display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
   }

img { height: 150px; width: 150px;  }
img.galeryItem { height: 50px; width: 50px;  }
tr.cartrow  img { height: 50px; width: 50px; padding: 5px; }

a, a:visited { color: #4169E1;  text-decoration: none !important; }
a:hover > span { color: #191970; }

div#top_menu a, div#crew_menu a  { padding: 12px; line-height: 40px; display: flex; justify-content: baseline; align-items: center; }
div#top_menu a > span  { font-size: 200%; padding-left: 5px; padding-right: 5px; line-height: 0.7em;  font-family: 'Material Symbols Outlined'; /* https://fonts.google.com/icons 'Material Symbols Outlined'*/ }
                 span.ico  { font-size: 150%; padding-left: 5px; padding-right: 5px; line-height: 0.7em;  font-family: 'Material Symbols Outlined'; /* https://fonts.google.com/icons 'Material Symbols Outlined'*/ }
div#crew_menu a, div#admin_menu a { padding: 2px 12px; }



div#top_menu, div#top_menu > span,  div#crew_menu, div#admin_menu {
    display: flex;
    background-color: #f8f8f8;
    justify-content: space-between;
    align-items: center;
    }

div#crew_menu { background-color: #e8e8e8;     justify-content: flex-end; }
div#admin_menu { background-color: #c8c8c8;    justify-content: flex-end; }



div#container { min-height: 700px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    }

form { width: 500px;}







div#foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #e8e8e8;
}

div#foot > p {
    width: 14%;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.success { color: green; }
.errorMsg { color: red; }


table.padding5 > tbody > tr > td { padding: 5px !important; }
table.padding5 > tbody > tr.status0 { color: green; }
table.padding5 > tbody > tr.status2 { color: gray; }
table.padding5 > tbody > tr.status3 { color: gray; }
a:hover < td { background-color: red; }


span.ico  { font-size: 140%; padding: 2px; font-family: 'Material Symbols Outlined'; /* https://fonts.google.com/icons 'Material Symbols Outlined'*/ }
div.simpleGrid { display: flex; flex-wrap: wrap;}
span.codeAndIcon > *:nth-child(5) { display: none; }
span.codeAndIcon > *:nth-child(6) { display: none; }
span.codeAndIcon > *:nth-child(7) { display: none; }
div.oneBlock, div.categotyItem { display: inline-flex; flex-direction: column; border: 1px dotted gray; padding: 15px; margin: 3px;  }
div.oneBlock p , div.categotyItem span {   display: flex; flex-direction: row; justify-content: space-between; width: 200px;  }

span.logo { background-image: url("../img/logo.png"); background-position: 100% 100%; width: 60px; height: 60px; padding-left: 90px; background-repeat: no-repeat; display: block;  }


a.likeButton { display: block; padding: 5px 10px;  border: 1px solid gray; border-radius: 5px; color: gray; }
a.likeButton2 { color: #2271b1; font-weight: 600; }
a.likeButton:hover { background-color: #2271b1; color: white; }

.BOLD {font-weight: 600; font-size: 150%; }

table.cart_table tr.cartrow:nth-child(even) { background-color: #f0f6fc;}

