<!DOCTYPE html>
<html th:fragment="topmenu" lang="pl" xmlns:th="http://www.thymeleaf.org" >
<div id="top_menu">

  <span class="logo"></span>


    <form th:action="@{'/product/find/'}" method="post" enctype="multipart/form-data" >
       <input type="text" class="form-control" th:name="find_name" th:id="find_name" th:placeholder="szukaj"/>
    </form>


  <span>
  <a href="/user/login"> <span>&#xE7FD;</span> zaloguj się </a>

  <a href="/user/add"> <span>&#xE7FE;</span> zarejestruj się </a>

  <th:block sec:authorize="isAuthenticated()">
    <a href="/my_user/address"> adres dostawy </a>
    <a href="/cart/view"> koszyk </a>
    <a href="/user/logout"> wyloguj </a>
  </th:block>

</span>

</div>


<div sec:authorize="hasRole('ROLE_CREW')" >
  <th:block th:insert="~{ menu/crewmenu :: crewmenu }"/>
</div>

<div sec:authorize="hasRole('ROLE_ADMIN')" >
  <th:block th:insert="~{ menu/adminmenu :: adminmenu }"/>
</div>


</html>

<!-- /* https://www.w3schools.com/charsets/ref_utf_symbols.asp */ -->

<!--

<div sec:authorize="isAuthenticated()">
  This content is only shown to authenticated users.
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
  This content is only shown to administrators.
</div>
-->

<!--<th:block th:insert="~{ fragments/crewmenu :: crewmenu }"/>-->