<th:block th:fragment="foot" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div id="foot">
  <p>
    <span>Zamówienia</span>
    <span>...</span>
    <span></span>
    <span></span>
  </p>
  <p>
    <span>Promocje</span>
    <span>...</span>
    <span>lorem</span>
    <span>ipsum</span>
  </p>
  <p>
    <span>Dojazd</span>
    <span>...</span>
    <span>lorem</span>
    <span>ipsum</span>
  </p>
  <p>
    <span>Kontakt</span>
    <span>...</span>
    <span>lorem</span>
    <span>ipsum</span>
  </p>
</div>
</th:block>

