<!DOCTYPE html>
<html th:fragment="layout ( template )" lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Shop</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- CSS  -->
  <link href="/css/style.css" type="text/css" rel="stylesheet" />
  <link href="/css/product.css" type="text/css" rel="stylesheet" />


  <!-- JS -->
  <script type="text/javascript" src="/js/product.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
    </style>

</head>

<body>
	<div id="status"><p th:utext="${status}"></p></div>
</body>


 
</html>
