<!DOCTYPE html>




<!--
<th:block th:insert="~{fragments/product :: oneFullBlock ( product ) }"/>
-->

<th:block th:fragment="oneFullBlock ( product , paramList ) " xmlns:th="http://www.w3.org/1999/xhtml">
    <div>

        <h2 th:text="${product.SKU}">SH0001</h2>
        <img th:src="${'/media/fimages/'+product.getPictAddr()}"  />


        <p th:text="${product.SKU+', '+product.name}" >SKU + nazwa</p>
        <p th:text="${product.name}" >nazwa</p>
        <p th:text="${product.id}" >id</p>

        <p th:utext="${product.getValue()}">cena 20.00</p>
        <p th:utext="${product.description}">opis...</p>
        <p th:utext="${product.getCategoryName()}">opis...</p>
        <p th:each="par : ${paramList}">
            <span class="dot" th:utext="${par}"></span>
        </p>
        <a th:href="${'/cart/addTo/'+product.id}">do koszyka</a>
        <br/>
        <br/>
        <!--<th:block th:insert="~{fragments/product :: icons_row ( products ) }"/>-->

        <th:block th:insert="~{fragments/form :: galery( ${product.getPictures()} , '200' ) }"/>

    </div>
</th:block>



<!--
<th:block th:insert="~{fragments/product :: oneBlock ( product ) }"/>
-->

<th:block th:fragment="oneBlock ( product ) " xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="oneBlock" >

        <p>
        <span th:text="${product.SKU}" >SH0001</span>
        <th:block th:insert="~{fragments/product :: icons_row ( products ) }"/>
        </p>

       <a th:href="${'/cart/productinfo/'+product.id}">
        <img th:src="${'/media/fimages/'+product.getPictAddr()}" style="width: 150px; height: 150px;" />
       </a>

        <!-- <p th:text="${product.id}" >id</p> -->
        <p>
            <span th:text="${product.name}" >nazwa</span>
            <span th:utext="${product.getValueAsString00()}">cena 20.00</span>
        </p>
    </div>
</th:block>





<!--
<th:block th:insert="~{fragments/product :: simpleGrid ( products ) }"/>
-->

<div class="simpleGrid" th:fragment="simpleGrid ( products )" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:each="product : ${products}" th:insert="~{ fragments/product :: oneBlock ( ${product} ) }" />
</div>






<!--
<th:block th:insert="~{fragments/product :: icons_row ( products ) }"/>
-->

<span class="codeAndIcon" th:fragment="icons_row ( products )" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block sec:authorize="hasRole('ROLE_CREW')" >
    <a th:href="${'/crew/product/edit/'+product.id}"><span class="ico" style="color: brown;">&#xE616;</span></a>
    <a th:href="${'/crew/product/promote/'+product.id}"><span class="ico" style="color: brown;">&#xE2EB;</span></a>
    <span> </span>
    </th:block>

    <a th:href="${'/cart/productinfo/'+product.id}"><span class="ico">&#xE8B6;</span></a>

    <a th:href="${'/cart/addTo/'+product.id}"><span class="ico">&#xEB88;</span></a>
    <a th:href="${'/cart/vote_plus/'+product.id}"><span class="ico">&#xE8DC;</span></a>
    <a th:href="${'/cart/vote_minus/'+product.id}"><span class="ico">&#xE8DB;</span></a>
</span>
