<!DOCTYPE html>
<th:block th:fragment="topmenu" lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<div id="topmenu">
  <p>
    !
  </p>

  <div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
  </div>
  <div sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only shown to administrators.
  </div>
  <div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
  </div>

  <th:block th:insert="~{ fragments/crewmenu :: crewmenu }" />
</div>
</th:block>