<!DOCTYPE html>
<html th:fragment="topmenu" lang="pl"  xmlns:th="http://www.thymeleaf.org">
<div id="topmenu">
  <p>
    !
  </p>

  <div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
  </div>
  <div sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only shown to administrators.
  </div>
  <div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
  </div>

  <th:block th:insert="~{ fragments/crewmenu :: crewmenu }" />
</div>
</html>